* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "navigation"
    "main";
}

.header {
  grid-area: header;
  height: 80px;
  background-color: #7477bf;
  color: white;

  display: flex;
  justify-content: space-around;
}

.bell-icon {
  height: 50px;
  width: 30px;
  margin-top: 20px;
}

.vertical {
  border-left: 1px solid white;
  height: 40px;
  margin: 20px 10px;
}

.header > h1 {
  font-size: 17px;
  margin-top: 30px;
}

.header > h3 {
  font-size: 15px;
  margin: 35px -1px 0 -70px;
}

.profile-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 20px 70px 0 0;
}

.navigation {
  grid-area: navigation;
  background-color: #4d4c72;
  height: 100px;
}
nav img {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  color: white;
}

.icons {
  display: flex;
  justify-content: space-around;
}

ul li {
  list-style: none;
}

.width-container-full .width-container-half {
  width: 95vw;
}

@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header header"
      "navigation main";
  }

  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .traffic,
  .social-container {
    grid-column: 1 / span 2;
  }

  .daily,
  .members,
  .message {
    grid-column: 1 / span 1;
  }

  .mobile,
  .activity,
  .settings {
    grid-column: 2 / span 1;
  }
  .width-container-full {
    width: 90vw;
  }
  .width-container-half {
    width: 45vw;
  }
}
